.fadeInComponent {
    animation: fadeIn 1s forwards;
  }
  
  .fadeOutComponent {
    animation: fadeOut 1s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .input {
    border: 2px solid blue;

    &.invalid {
      border: 3px solid red;
    }
  }