@import '../../styles/variables.scss';
@import '../../styles/typography.scss';
@import '../../styles/utilities.scss';
@import '../../styles/animations.scss';

.confirmation {
  @include flex-column(center);
  background-color: $white;
  border-radius: 2.25rem;
  padding: $spacing-48 $spacing-64;
  width: 31.5rem;
  color: $dark-navy;
  position: relative;

  @include respond-to-phone {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    justify-content: space-between;
    padding-top: 9.3125rem;
  }

}

.content {
  img {
    width: 4rem;
  }

  h1 {
    @include text-heading;
    margin: 2.5rem 0 1.5rem
  }

  p {
    @include text-body;
    margin-bottom: 2.5rem;
  }

}

.fadeInComponent {
  animation: $fadeIn;
}

.fadeOutComponent {
  animation: $fadeOut;
}