@import '../../styles/variables.scss';
@import '../../styles/typography.scss';
@import '../../styles/utilities.scss';
@import '../../styles/animations.scss';

.confirmation {
  @include flex-column(center);
  background-color: $white;
  border-radius: 2.25rem;
  width: 31.5rem;

  img {
    width: 4rem;
  }
}

.fadeInComponent {
  animation: $fadeIn;
}

.fadeOutComponent {
  animation: $fadeOut;
}