$fadeIn: fadeIn 1s forwards;
$fadeOut: fadeOut 1s forwards;

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 4rem;
  }
  to {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    top: 0rem;
  }
  to {
    opacity: 0;
    top: 4rem;
  }
}