/* Colours */

$dark-navy: #242742;
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsla(231, 7%, 60%, 25%);
$pale-navy: #36384D;
$vermellion: #FF6155;
$white: hsl(0, 0%, 100%);
$tomato: hsl(4, 100%, 67%);

/* spacing */
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-64: 64px;
$spacing-24: 24px;
$spacing-10: 10px;
$spacing-40: 40px;

/* media queries */
$max-width-tablet: 1165px;
$max-width-phone: 530px;